@import 'fonts/fonts';

$font-size-header: 48px;
$font-size-large: 24px;
$font-size-normal: 16px;
$font-size-link: 18px;
$font-size-header-lap: 30px;

$color-header: #232323;
$color-normal: #585858;
$color-white: #ffffff;
$color-black: #000000;
$color-hover: #004289;
$color-border: #CACACA;

* {
  box-sizing: border-box;
  transition: ease .3s;
}

body {
  font-family: "PT Sans";
  font-size: $font-size-normal;
  color: $color-normal;
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  color: $color-header;
  font-weight: normal;
  line-height: 120%;
}

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 140%;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.container-h100 {
  height: 100%;
}

.container-relative {
  position: relative;
}

.section-header {
  font-size: $font-size-header;
}

.link {
  font-size: $font-size-link;
  position: relative;
  &:hover {
    color: $color-hover;
  }
  &:hover::after {
    content: url("./assets/images/arrow-blue.svg");
  }
}

.link-arrow-white {
  color: $color-white;
  &::after {
    content: url("./assets/images/arrow-white.svg");
    position: absolute;
    margin-left: 8px;
  }
}

.inner {
  margin-top: 138px;
  height: 550px;
  background-image: url("./assets/images/inner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__block {
    position: relative;
  }
  &__tape {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 589px;
    background: linear-gradient(
      162.65deg,
      rgb(0%, 26%, 54%, 0.9),
      rgb(0%, 21%, 43%, 0.9)
    );
    padding: 122px 50px 113px;
  }
  &__header {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-header;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #ffffff;
  }
  &__btn {
    margin-top: 50px;
    width: 200px;
    height: 65px;
    font-size: 18px;
    background-color: $color-white;
    color: $color-header;
    transition: ease 0.3s;
    &:hover {
      background-color: #b5c4d4;
    }
  }
}

// Мы производим (Produce)
.produce {
  padding-top: 150px;
  padding-bottom: 100px;
  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  &__item {
    position: relative;
    padding-bottom: 44px;
    flex-basis: 32.3%;
    display: block;
  }
  &__item--first {
    background-color: #004289;
    .produce__image {
      max-width: 256px;
    }
  }
  &__item--second {
    background-color: #175292;
    .produce__image {
      max-width: 272px;
    }
  }
  &__item--third {
    background-color: #c09a5d;
    .produce__title {
      max-width: 256px;
      margin-top: 25px;
    }
  }
  &__title {
    font-size: $font-size-large;
    font-weight: normal;
    color: $color-white;
  }
  &__descr {
    margin-top: 30px;
    padding-bottom: 20px;
    line-height: 140%;
    color: $color-white;
  }
  &__image-block {
    min-height: 288px;
    max-height: 288px;
    display: flex;
    padding-bottom: 45px;
    padding-top: 62px;
    align-items: center;
    justify-content: center;
  }
  &__about-block {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
  }
  &__link {
    bottom: 20px;
    position: absolute;
  }
}


// Benefits (Преимущества работы с Ruspan)

.benefits {
  padding-top: 50px;
  padding-bottom: 50px;
  &__list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__item {
    padding: 40px 50px;
    border: 1px solid #D7D7D7;
  }
  &__item:nth-child(odd) {
    margin-right: 17px;
  }
  &__item:nth-child(1), &__item:nth-child(2) {
    margin-bottom: 22px;
  }
  &__item:first-child {
    .benefits__title {
      white-space: nowrap;
    }
  }
  &__title {
    margin-top: 38px;
    font-size: $font-size-large;
  }
  &__descr {
    margin-top: 15px;
  }
  &__icon {
    max-height: 74px;
    max-width: 74px;
    object-fit: contain;
  }
}

// Секторы рынка (sector)

.sector {
  padding-top: 125px;
  padding-bottom: 125px;
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
  }
  &__left {
    display: flex;
    flex-direction: column;
    padding-right: 68px;
  }
  &__right {
    padding-top: 17px;
  }
  &__image-block {
    margin-top: auto;
  }
  &__image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__list {
    margin: 0;
  }
  &__item {
    padding-top: 20px;
    padding-bottom: 17px;
    padding-left: 20px;
    border-top: 1px solid $color-border;
    font-size: 18px;
  }
  &__item:last-child {
    border-bottom: 1px solid $color-border;
  }
  &-mobile {
    display: none;
  }
}

@import 'media/big';
@import 'media/medium';
@import 'media/small';